body {
  margin: 0;
  line-height: normal;
}

/* Variable Definitions */
:root {
  /* Fonts */
  --font-montserrat: 'Montserrat', sans-serif;
  --font-eb-garamond: 'EB Garamond', serif;

  /* Font Sizes */
  --font-size-xl: 20px;
  --font-size-31xl: 50px;
  --font-size-11xl: 30px;
  --font-size-21xl: 40px;
  --font-size-2xl: 21px;
  --font-size-9xl: 28px;
  --font-size-16xl: 35px;
  --font-size-10xl-6: 29.6px;
  --font-size-base: 16px;
  --font-size-6xl: 25px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #ffffff;
  --color-indigo-100: #470f83;
  --color-slateblue: #7a42b5;
  --color-limegreen: #00d100;
  --color-black: #000000;

  /* Gaps */
  --gap-mid: 17px;
  --gap-lg: 18px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-36xl: 55px;
  --gap-8xl: 27px;

  /* Paddings */
  --padding-47xl: 66px;
  --padding-14xl: 33px;
  --padding-51xl: 70px;
  --padding-26xl: 45px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
  --padding-lgi: 19px; /* Consider renaming for clarity */
  --padding-10xl: 29px;
  --padding-12xl: 31px;
  --padding-23xl: 42px;
  --padding-xl: 20px;
  --padding-45xl: 64px;
  --padding-13xl: 32px;
  --padding-9xl: 28px;
  --padding-7xl: 26px;
  --padding-xs: 12px;
  --padding-11xl: 30px;
  --padding-2xl: 21px;
  --padding-3xl: 22px;
  --padding-12xs: 1px;
  --padding-27xl: 46px;
  --padding-4xs: 9px;

  /* Border Radii */
  --br-21xl: 40px;
  --br-61xl: 80px;
}